.tab::after,
.tab::before {
  content    : '';
  position   : absolute;
  top        : -1px;
  width      : 22px;
  height     : 29px;
  border     : 1px solid map-get(map-get($color, grey), dark);
  background : map-get(map-get($color, grey), lighter);
  box-shadow : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.tab::before {
  left                   : -10px;
  border-right           : 0;
  border-bottom          : 0;
  border-top-left-radius : 5px;
  transform              : skewX(-20deg);
}

.tab::after {
  right                   : -10px;
  border-bottom           : 0;
  border-left             : 0;
  border-top-right-radius : 5px;
  transform               : skewX(20deg);
}

.tab {
  display       : inline-block;
  position      : relative;
  min-width     : 50px;
  height        : 30px;
  margin-top    : 1px;
  padding       : 0px 15px;
  border        : 1px solid map-get(map-get($color, grey), dark);
  border-bottom : 0;
  background    : map-get(map-get($color, grey), lighter);
  box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  text-align    : center;
  user-select   : none;
  cursor        : default;

  &:focus {
    outline : none;
  }
}

.tab_title {
  z-index     : 2;
  position    : relative;
  color       : map-get(map-get($color, grey), dark);
  font-size   : $default - 1;
  line-height : 34px;
  cursor      : default;
}

.tab--select {
  z-index    : 2;
  height     : 31px;
  margin-top : 1px;
  border-top : 1px solid map-get(map-get($color, grey), dark);
  background : #fff;
  box-shadow : 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}

.tab--select::after,
.tab--select::before {
  height       : 30px;
  border-color : map-get(map-get($color, grey), dark);
  background   : #fff;
  box-shadow   : 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}

.tab + .tab {
  z-index     : -1;
  margin-left : 18px;
}

.tab + .tab + .tab {
  z-index : -2;
}

.tab + .tab + .tab + .tab {
  z-index : -3;
}

.tab + .tab + .tab + .tab + .tab {
  z-index : -4;
}

.tab + .tab + .tab + .tab + .tab + .tab {
  z-index : -5;
}

.tab + .tab + .tab + .tab + .tab + .tab + .tab {
  z-index : -6;
}

.tab--select,
.tab + .tab--select,
.tab + .tab + .tab--select,
.tab + .tab + .tab + .tab--select,
.tab + .tab + .tab + .tab + .tab--select,
.tab + .tab + .tab + .tab + .tab + .tab--select,
.tab + .tab + .tab + .tab + .tab + .tab + .tab--select {
  z-index : 2;
}

.tab--close {
  padding-right : 26px;
}

.tab_close {
  z-index       : 1;
  position      : absolute;
  top           : 9px;
  right         : 1px;
  width         : 16px;
  height        : 16px;
  border-radius : 50%;

  &:focus {
    outline : none;
  }

  &:hover {
    background : map-get(map-get($color, grey), base);

    .button_text {
      opacity          : 0.9;
      background-image : linear-gradient(45deg, transparent 42%, #fff 42%, #fff 58%, transparent 58%),
                         linear-gradient(-45deg, transparent 42%, #fff 42%, #fff 58%, transparent 58%);
    }
  }

  .button_text {
    position         : absolute;
    top              : 50%;
    left             : 50%;
    width            : 8px;
    height           : 8px;
    margin-top       : -4px;
    margin-left      : -4px;
    border-radius    : 50%;
    background       : transparent;
    background-image : linear-gradient(45deg, transparent 42%, map-get(map-get($color, grey), base) 42%, map-get(map-get($color, grey), base) 58%, transparent 58%),
                       linear-gradient(-45deg, transparent 42%, map-get(map-get($color, grey), base) 42%, map-get(map-get($color, grey), base) 58%, transparent 58%);
  }
}

.tab--select {
  .tab_close {
    &:hover {
      .button_text {
        opacity          : 0.9;
        background-image : linear-gradient(45deg, transparent 42%, #fff 42%, #fff 58%, transparent 58%),
                           linear-gradient(-45deg, transparent 42%, #fff 42%, #fff 58%, transparent 58%);
      }
    }

    .button_text {
      background-image : linear-gradient(45deg, transparent 42%, map-get(map-get($color, grey), dark) 42%, map-get(map-get($color, grey), dark) 58%, transparent 58%),
                         linear-gradient(-45deg, transparent 42%, map-get(map-get($color, grey), dark) 42%, map-get(map-get($color, grey), dark) 58%, transparent 58%);
    }
  }
}
