.key.key-13,
.key.key-26,
.key.key-45,
.key.key-58 {
  height : 85px;
}

.key.key-35,
.key.key-36,
.key.key-74,
.key.key-75 {
  height : 114px;
}

.key.key-0,
.key.key-7,
.key.key-14,
.key.key-20,
.key.key-44,
.key.key-51,
.key.key-57,
.key.key-64 {
  width  : 84px;
  height : 56px;
}
