.key--default {
  @include key-color(grey);
}

.key--layer-toggle {
  @include key-color(orange);
}

.key--modified {
  @include key-color(mauve);
}

.key--hold-key-tap-key {
  @include key-color(blue);
}

.key--hold-layer-tap-key {
  @include key-color(yellow);
}

.key--macro {
  @include key-color(mauve);
}

.key--select {
  @include key-color(aqua);
}

.key--transparent {
  .key_face {
    opacity : 0.7;
  }

  .key_light {
    background : none;
  }

  .key_face_bevel {
    background : none;
  }
}

.key--default.key--transparent {
  @include key-transparent(grey);
}

.key--layer-toggle.key--transparent {
  @include key-transparent(orange);
}

.key--hold-layer-tap-key.key--transparent {
  @include key-transparent(yellow);
}
