.key_icon {
  width  : 25px;
  height : 25px;

  svg {
    .cls-2,
    .cls-4,
    .cls-5 {
      stroke : #fff;
    }

    .cls-3 {
      fill : #fff;
    }
  }
}

.key_icon.icon-right svg {
  margin : 0 0;
}

.key_icon.icon-left svg {
  margin-top : -25px;
}

.key_icon.icon-up svg {
  margin-top : -50px;
}

.key_icon.icon-down svg {
  margin-top : -75px;
}

.key_icon.icon-tab svg {
  margin-top : -100px;
}

.key_icon.icon-enter svg {
  margin-top : -125px;
}

// Command

.key_icon.icon-command-shift svg {
  margin-top : -150px;
}

.key_icon.icon-command-alt svg {
  margin-top : -175px;
}

.key_icon.icon-command-cmd svg {
  margin-top : -200px;
}

.key--mac .key_icon.icon-command-cmd svg {
  margin-top : -225px;
}

.key_icon.icon-command-control svg {
  margin-top : -250px;
}

.key_icon.icon-command-meh svg {
  margin-top : -325px;
}

.key_icon.icon-command-gui svg {
  margin-top  : -125px;
  margin-left : -50px;
}

// Editing

.key_icon.icon-backspace svg {
  margin-top : -275px;
}

.key_icon.icon-none svg {
  margin-top : -300px;
}

.key_icon.icon-space svg {
  margin-top : -350px;
}

.key_icon.icon-toggle svg {
  margin-top : -375px;
}

.key_icon.icon-macro svg {
  margin-top : -425px;
}

.key_icon.icon-mouse-button svg {
  margin-top : -400px;
}

// Mouse

.key_icon.icon-mouse-up svg {
  margin-top  : 0;
  margin-left : -25px;
}

.key_icon.icon-mouse-down svg {
  margin-top  : -25px;
  margin-left : -25px;
}

.key_icon.icon-mouse-left svg {
  margin-top  : -50px;
  margin-left : -25px;
}

.key_icon.icon-mouse-right svg {
  margin-top  : -75px;
  margin-left : -25px;
}

// Media

.key_icon.icon-media-previous svg {
  margin-top  : -100px;
  margin-left : -25px;
}

.key_icon.icon-media-next svg {
  margin-top  : -125px;
  margin-left : -25px;
}

.key_icon.icon-media-play svg {
  margin-top  : -150px;
  margin-left : -25px;
}

.key_icon.icon-media-stop svg {
  margin-top  : -175px;
  margin-left : -25px;
}

.key_icon.icon-media-volume-up svg {
  margin-top  : -200px;
  margin-left : -25px;
}

.key_icon.icon-media-volume-down svg {
  margin-top  : -225px;
  margin-left : -25px;
}

.key_icon.icon-media-mute svg {
  margin-top  : -250px;
  margin-left : -25px;
}

.key_icon.icon-www-back svg {
  margin-top  : -275px;
  margin-left : -25px;
}

.key_icon.icon-www-forward svg {
  margin-top  : -300px;
  margin-left : -25px;
}

.key_icon.icon-www-refresh svg {
  margin-top  : -325px;
  margin-left : -25px;
}

.key_icon.icon-www-stop svg {
  margin-top  : -350px;
  margin-left : -25px;
}

.key_icon.icon-www-favorite svg {
  margin-top  : -375px;
  margin-left : -25px;
}

.key_icon.icon-www-home svg {
  margin-top  : -400px;
  margin-left : -25px;
}

.key_icon.icon-app-mail svg {
  margin-top  : -25px;
  margin-left : -50px;
}

.key_icon.icon-app-calc svg {
  margin-top  : -50px;
  margin-left : -50px;
}

.key_icon.icon-app-my-computer svg {
  margin-top  : -75px;
  margin-left : -50px;
}

.key_icon.icon-app-search svg {
  margin-top  : 0;
  margin-left : -50px;
}
