.input {
  height        : 30px;
  border        : 1px solid $grey;
  border-radius : 3px;
  background    : map-get(map-get($color, grey), lightest);

  input {
    border     : none;
    background : none;
    font-size  : $default;
  }

  input[type="text"] {
    height  : 28px;
    padding : 0 5px;
    color   : map-get(map-get($color, grey), lightest);
  }

  input:focus {
    outline : none;
  }
}
