@keyframes inputActive {
  0% {
    top     : -8px;
    right   : -8px;
    bottom  : -8px;
    left    : -8px;
    opacity : 0;
  }

  100% {
    top     : -3px;
    right   : -3px;
    bottom  : -3px;
    left    : -3px;
    opacity : 1;
  }
}
