.icon-large {
  width         : 64px;
  height        : 64px;
  overflow      : hidden;
  border-radius : 50%;

  img {
    width  : 64px;
    height : auto;
  }
}

.icon-large--error-layer {
  background : linear-gradient(45deg, color(red, light), color(red, dark));
}

.icon-large--confirm-layer {
  background : linear-gradient(45deg, color(orange, base), color(orange, dark));
}
