%button {
  display     : inline-block;
  position    : relative;
  min-width   : 90px;
  height      : 30px;
  text-align  : center;
  user-select : none;
  cursor      : default;

  .button_face {
    z-index       : 2;
    position      : absolute;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    padding       : 0 10px;
    border        : 1px solid $grey;
    border-color  : color(grey, dark);
    border-radius : 4px;
    background    : linear-gradient(color(grey, lightest) 93%, color(grey, light));
    box-shadow    : 0 1px 0 #fff inset;
  }

  .button_text {
    z-index     : 2;
    position    : relative;
    color       : color(grey, darker);
    font-size   : $default;
    line-height : 30px;
  }

  .button_active {
    z-index       : 0;
    position      : absolute;
    top           : 1px;
    right         : 1px;
    bottom        : 1px;
    left          : 1px;
    border-radius : 5px;
  }

  .button_active {
    content : '';
  }

  &:focus {
    outline : none;
  }

  &:focus .button_active {
    background : transparentize(color(aqua, light), 0.3);
    animation  : button_active 1.3s infinite;
  }

  &.button--active .button_face,
  &:active .button_face {
    background : linear-gradient(color(grey, lighter) 93%, color(grey, lighter));
    box-shadow : 0 1px 3px color(grey, dark) inset,
                 0 1px 0 #fff;
  }

  &.button--active .button_text,
  &:active .button_text {
    opacity     : 0.8;
    line-height : 33px;
  }
}

%button-primary {
  @extend   %button;

  .button_face {
    border-color : color(aqua, darker);
    background   : linear-gradient(color(aqua, base) 93%, color(aqua, dark));
    box-shadow   : 0 1px 0 color(aqua, light) inset;
  }

  &.button--active .button_face,
  &:active .button_face {
    background : linear-gradient(color(aqua, dark) 93%, color(aqua, dark));
    box-shadow : 0 1px 3px color(aqua, darkest) inset,
                 0 1px 0 #fff;
  }

  .button_text {
    color : #fff;
  }
}

@keyframes button_active {
  0% {
    top    : 1px;
    right  : 1px;
    bottom : 1px;
    left   : 1px;
  }

  40% {
    top    : -3px;
    right  : -3px;
    bottom : -3px;
    left   : -3px;
  }

  50% {
    top    : -3px;
    right  : -3px;
    bottom : -3px;
    left   : -3px;
  }

  100% {
    top    : 1px;
    right  : 1px;
    bottom : 1px;
    left   : 1px;
  }
}

@keyframes button_active_stroke {
  0% {
    top     : 1px;
    right   : 1px;
    bottom  : 1px;
    left    : 1px;
    opacity : 1;
  }

  100% {
    top     : -12px;
    right   : -12px;
    bottom  : -12px;
    left    : -12px;
    opacity : 0;
  }
}
