.dialog {
  z-index       : 10;
  position      : absolute;
  width         : 400px;
  overflow      : hidden;
  border        : 1px solid color(grey, base);
  border-radius : 9px;
  box-shadow    : 0 10px 20px rgba(0, 0, 0, 0.6);
}

.dialog_head {
  padding       : 5px 15px;
  border-bottom : 1px solid color(grey, light);
  background    : color(grey, lightest);

  h1 {
    color       : color(grey, dark);
    font-size   : fontSize(m);
    line-height : fontSize(m) * 2.3;
  }
}

.dialog_body {
  padding    : 15px;
  background : color(grey, lightest);
}

.dialog_feet {
  padding    : 0 15px 15px;
  background : color(grey, lightest);

  .button {
    @extend %button;
  }

  .button + .button {
    margin-left : 5px;
  }
}
