.icon {
  display  : inline-block;
  width    : 25px;
  height   : 25px;
  overflow : hidden;

  svg {
    width  : 75px;
    height : auto;
  }
}

.icon-search svg {
  margin-left : -50px;
}

.icon-menu svg {
  margin-top  : -100px;
  margin-left : -50px;
}
