.letterbox {
  z-index     : 1;
  position    : absolute;
  top         : 0;
  right       : -325px;
  width       : 325px;
  height      : 100%;
  border-left : 1px solid color(grey, base);
  background  : color(grey, lightest);
}

.letterbox_trigger {
  position      : absolute;
  top           : 3px;
  left          : -104px;
  width         : 100px;
  height        : 33px;
  padding       : 3px 5px 0 32px;
  border        : 1px solid color(grey, base);
  border-radius : 5px;
  background    : color(grey, lightest);
  user-select   : none;
  cursor        : default;

  &:active {
    background : rgba(0, 0, 0, 0.07);
  }

  .icon-menu {
    position    : absolute;
    top         : 0px;
    left        : 0;
    margin-top  : 3px;
    margin-left : 4px;

    svg {
      .cls-3 {
        fill : color(grey, base);
      }
    }
  }
}

.letterbox_label {
  display     : inline-block;
  color       : color(grey, base);
  font-size   : fontSize(s);
  line-height : 28px;
}

.letterbox_container {
  height  : 100%;
  padding : 10px;
}

.letterbox {
  .form {
    height : 100%;
  }
}
