%button-primary {
  @extend   %button;

  .button_face {
    border-color : color(aqua, dark);
    background   : color(aqua, base);
  }

  &.button--active .button_face,
  &:active .button_face {
    background : mix(color(aqua, dark), color(aqua, base), 50%);
  }

  .button_text {
    color : #fff;
  }
}
