%button-primary {
  @extend   %button;

  .button_face {
    border-color : color(aqua, darker);
    background   : linear-gradient(
                     color(aqua, base) 93%,
                     color(aqua, dark)
                   );
    box-shadow   : 0 1px 0 color(aqua, light) inset;
  }

  &.button--active .button_face,
  &:active .button_face {
    background : linear-gradient(
                   color(aqua, dark) 93%,
                   color(aqua, dark)
                 );
    box-shadow : 0 1px 3px color(aqua, darkest) inset,
                 0 1px 0 #fff;
  }

  .button_text {
    color : #fff;
  }
}
