%button {
  @extend     %button-common;
  min-width : 90px;
  height    : 30px;

  .button_face {
    @extend         %button_face-common;
    padding       : 0 10px;
    border        : 1px solid color(grey, base);
    border-radius : 4px;
    background    : color(grey, lightest);
  }

  .button_text {
    @extend       %button_text-common;
    font-size   : $default;
    line-height : 30px;
  }

  &:focus {
    outline : none;
  }

  &:focus .button_face::after {
    background : transparentize(color(aqua, light), 0.3);
    animation  : button_active 1.3s;
  }

  &.button--active .button_face,
  &:active .button_face {
    background : color(grey, lighter);
  }

  &.button--active .button_text,
  &:active .button_text {
    opacity     : 0.8;
    line-height : 32px;
  }
}
