@mixin key-color($name) {
  .key_cap {
    border : 1px solid color($name, darkest);
  }

  .key_face_plane::before {
    border : 1px solid color($name, dark);
  }

  .key_face_background {
    border-top-color    : color($name, lightest);
    border-right-color  : color($name, light);
    border-bottom-color : color($name, dark);
    border-left-color   : color($name, light);
  }

  .key_face_plane {
    background : color($name, base);
  }
}
