.key-column-left-1 {
  left : 0;
}

.key-column-left-2 {
  left : 83px;
}

.key-column-left-3 {
  left : 138px;
}

.key-column-left-4 {
  left : 193px;
}

.key-column-left-5 {
  left : 248px;
}

.key-column-left-6 {
  left : 303px;
}

.key-column-left-7 {
  left : 358px;
}

.key-column-right-1 {
  left : 114px;
}

.key-column-right-2 {
  left : 169px;
}

.key-column-right-3 {
  left : 224px;
}

.key-column-right-4 {
  left : 279px;
}

.key-column-right-5 {
  left : 334px;
}

.key-column-right-6 {
  left : 389px;
}

.key-column-right-7 {
  left : 444px;
}

.keyboard_hover {
  opacity : 0;
}

.key-0,
.key-44 {
  top: 15px;
}

.key-1,
.key-43 {
  top: 15px;
}

.key-2,
.key-42 {
  top: 5px;
}

.key-3,
.key-41 {
  top: 0px;
}

.key-4,
.key-40,
.key-5,
.key-39,
.key-6,
.key-38 {
  top: 5px;
}

.key-7,
.key-51 {
  top: 70px;
}

.key-8,
.key-50 {
  top: 70px;
}

.key-9,
.key-49 {
  top: 60px;
}

.key-10,
.key-48 {
  top: 55px;
}

.key-11,
.key-47,
.key-12,
.key-46,
.key-13,
.key-45 {
  top: 60px;
}

.key-14,
.key-57,
.key-15,
.key-56 {
  top: 125px;
}

.key-16,
.key-55 {
  top: 115px;
}

.key-17,
.key-54 {
  top: 110px;
}

.key-18,
.key-53 {
  top: 115px;
}

.key-19,
.key-52 {
  top: 115px;
}

.key-20,
.key-64 {
  top: 180px;
}

.key-21,
.key-63 {
  top: 180px;
}

.key-22,
.key-62 {
  top: 171px;
}

.key-23,
.key-61 {
  top: 165px;
}

.key-24,
.key-25,
.key-59,
.key-60 {
  top: 170px;
}

.key-26,
.key-58 {
  top: 143px;
}

.key-27 {
  left: 28px;
}

.key-27,
.key-28,
.key-68,
.key-69 {
  top: 235px;
}

.key-29,
.key-67 {
  top: 226px;
}

.key-30,
.key-66 {
  top: 220px;
}

.key-31,
.key-65 {
  top: 225px;
}

// Thumb

.key-32 {
  left : 55px;
  top : 0;
}

.key-33 {
  left : 110px;
  top : 0;
}

.key-34 {
  left : 110px;
  top : 55px;
}

.key-35 {
  left : 0;
  top : 55px;
}

.key-36 {
  left : 55px;
  top : 55px;
}

.key-37 {
  left : 110px;
  top : 110px;
}

/* Right */
.key-41 {
  top : 0px;
}

.key-53 {
  top : 115px;
}

.key-59 {
  top : 170px;
}

.key-70 {
  left : 0;
  top : 0;
}

.key-71 {
  left : 55px;
  top : 0;
}

.key-72 {
  left : 0;
  top : 55px;
}

.key-73 {
  left : 0;
  top : 110px;
}

.key-74 {
  left : 55px;
  top : 55px;
}

.key-75 {
  left : 110px;
  top : 55px;
}
