// Column Left 1

.key-0,
.key-7,
.key-14,
.key-20 {
  left : 0;
}

// Column Left 2

.key-1,
.key-8,
.key-15,
.key-21,
.key-28 {
  left : 86px;
}

// Column Left 3

.key-2,
.key-9,
.key-16,
.key-22,
.key-29 {
  left : 144px;
}

// Column Left 4

.key-3,
.key-10,
.key-17,
.key-23,
.key-30 {
  left : 202px;
}

// Column Left 5

.key-4,
.key-11,
.key-18,
.key-24,
.key-31 {
  left : 260px;
}

// Column Left 6

.key-5,
.key-12,
.key-19,
.key-25 {
  left : 318px;
}

// Column Left 7

.key-6,
.key-13,
.key-26 {
  left : 376px;
}

// Column Right 1

.key-38,
.key-45,
.key-58 {
  left : 672px;
}

// Column Right 2

.key-39,
.key-46,
.key-52,
.key-59 {
  left : 730px;
}

// Column Right 3

.key-40,
.key-47,
.key-53,
.key-60,
.key-65 {
  left : 788px;
}

// Column Right 4

.key-41,
.key-48,
.key-54,
.key-61,
.key-66 {
  left : 846px;
}

// Column Right 5

.key-42,
.key-49,
.key-55,
.key-62,
.key-67 {
  left : 904px;
}

// Column Right 6

.key-43,
.key-50,
.key-56,
.key-63,
.key-68 {
  left : 962px;
}

// Column Right 7

.key-44,
.key-51,
.key-57,
.key-64,
.key-69 {
  left : 1020px;
}

.key-32,
.key-33,
.key-34,
.key-35,
.key-36,
.key-37 {
  transform : rotate(35deg);
}

.key-0,
.key-44 {
  top : 15px;
}

.key-1,
.key-43 {
  top : 15px;
}

.key-2,
.key-42 {
  top : 5px;
}

.key-3,
.key-41 {
  top : 0px;
}

.key-4,
.key-5,
.key-6,
.key-38,
.key-39,
.key-40 {
  top : 5px;
}

.key-7,
.key-8,
.key-50,
.key-51 {
  top : 73px;
}

.key-9,
.key-49 {
  top : 63px;
}

.key-10,
.key-48 {
  top : 58px;
}

.key-11,
.key-12,
.key-13,
.key-45,
.key-46,
.key-47 {
  top : 63px;
}

.key-14,
.key-15,
.key-56,
.key-57 {
  top : 131px;
}

.key-16,
.key-55 {
  top : 121px;
}

.key-17,
.key-54 {
  top : 116px;
}

.key-18,
.key-19,
.key-52,
.key-53 {
  top : 121px;
}

.key-20,
.key-21,
.key-63,
.key-64 {
  top : 189px;
}

.key-22,
.key-62 {
  top : 179px;
}

.key-23,
.key-61 {
  top : 174px;
}

.key-24,
.key-25,
.key-59,
.key-60 {
  top : 179px;
}

.key-26,
.key-58 {
  top : 150px;
}

.key-27 {
  left : 28px;
}

.key-27,
.key-28,
.key-68,
.key-69 {
  top : 247px;
}

.key-29,
.key-67 {
  top : 237px;
}

.key-30,
.key-66 {
  top : 232px;
}

.key-31,
.key-65 {
  top : 237px;
}

// Left Thumb

.key-32 {
  top  : 228px;
  left : 434px;
}

.key-33 {
  top  : 261px;
  left : 482px;
}

.key-34 {
  top  : 309px;
  left : 448.5px;
}

.key-35 {
  top  : 239px;
  left : 337px;
}

.key-36 {
  top  : 271px;
  left : 385px;
}

.key-37 {
  top  : 356px;
  left : 416px;
}

.key-41 {
  top : 0px;
}

// Right thumb keys

.key-70,
.key-71,
.key-72,
.key-73,
.key-74,
.key-75 {
  transform : rotate(-35deg);
}

.key-70 {
  top  : 261px;
  left : 568px;
}

.key-71 {
  top  : 228px;
  left : 615px;
}

.key-72 {
  top  : 309px;
  left : 600px;
}

.key-73 {
  top  : 357px;
  left : 633px;
}

.key-74 {
  top  : 271px;
  left : 664px;
}

.key-75 {
  top  : 239px;
  left : 712px;
}
