.toolbar {
  position      : absolute;
  top           : 0;
  right         : 0;
  left          : 0;
  height        : 40px;
  border-bottom : 1px solid map-get(map-get($color, grey), dark);
  background    : map-get(map-get($color, grey), lighter);

  .tab_add {
    display       : inline-block;
    width         : 20px;
    min-width     : auto;
    height        : 22px;
    margin-top    : 17px;
    margin-left   : 20px;
    padding-right : 0;
    padding-left  : 0;

    .tab_title {
      z-index     : 2;
      position    : relative;
      color       : map-get(map-get($color, grey), dark);
      font-size   : $default;
      line-height : 24px;
    }
  }

  .tab_add::before {
    left   : -8px;
    height : 21px;
  }

  .tab_add::after {
    right  : -8px;
    height : 21px;
  }
}
